.categories {
  margin: 2.5rem 0;
  width: 90%;
  &_header {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.5rem;
    width: 100%;

    &-title {
      font-size: 2rem;
      color: $colorPrincipal;
    }
    &-filter {
      border: 1px solid rgba($colorSecundario, $alpha: 0.4);
      padding: 1rem 1.5rem;
      outline: none;
      max-width: 60%;
      &::placeholder {
        color: $placeHoldersColor;
      }
    }
  }
  &_body {
    margin-top: 1.5rem;
    padding: 0 1rem;
    &-list {
      &-item {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      &-title {
        text-decoration: none;
        color: $colorPrincipal;
      }
    }
    &-sublist {
      &-title {
        text-decoration: none;
        color: $colorSecundario;
      }
      &-item {
        list-style: none;
        padding: 0 1rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .categories {
    &_header {
      justify-content: space-between;

      &-title {
        font-size: 3rem;
      }
      &-filter {
        min-width: 70%;
        line-height: 3rem;
        font-size: 2rem;
      }
    }
    &_body {
      &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
