@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
:root {
  font-size: 10px;
}
body {
  background-color: $backgroundColor;
  overflow-x: hidden;
}
.container {
  width: 100%;
  padding: 0 3rem;
}

@media (min-width: 576px) {
  .container {
    // max-width: 80%;
    // min-width: 60%;
    min-width: 80%;
    display: flex;
    justify-content: center;
  }
}
