@import "./variables";
.navbar {
  background-color: $colorPrincipal;
  height: 7rem;
  display: flex;
  align-items: center;
  &_container {
    display: flex;
  }
  &_list {
    position: absolute;
    top: -100vh;
    right: 0rem;
    min-width: 30%;
    background-color: $colorPrincipal;
    outline: 1px solid $colorSecundario;
    border-radius: 0 0 0 5px;
    opacity: 0;
    transition: top 0.4s ease;
    z-index: 150;
    &.active {
      top: 7rem;
      opacity: 1;
    }
  }

  &_item {
    position: relative;
    display: flex;

    &-link {
      display: flex;
      text-decoration: none;
      color: $colorSecundario;
      justify-content: center;
      align-items: center;
      height: 7rem;
      padding: 0 1rem;
      &.logo {
        font-size: 3rem;
        font-weight: 400;
        position: relative;
        color: #fff;
      }

      &-text {
        text-decoration: none;
        font-size: 2rem;
        color: $colorSecundario;
        display: flex;
        align-items: center;
      }
      &-icon {
        font-size: 2rem;
      }
    }
    &-sublogo {
      position: absolute;
      bottom: 0.8rem;
      right: 3rem;
      color: $backgroundColor;
      font-size: 1.3rem;
    }

    &-icon {
      margin: auto;
    }
  }
  &_menu {
    display: flex;
    align-items: center;
    margin-left: auto;

    &-button {
      font-size: 3rem;
      background-color: transparent;
      color: $colorSecundario;
      border: none;
      cursor: pointer;
      // border: 2px solid $colorSecundario;
      // border-radius: 5px;
      outline: none;
      &:focus {
        border-radius: 5px;
        box-shadow: 2px 2px 1px $colorSecundario;
      }
    }
  }
}
@keyframes shake {
  0% {
    transform: rotateX(-10deg);
  }
  25% {
    transform: rotateX(10deg);
  }
  50% {
    transform: rotate(-6deg);
  }
  75% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0);
  }
}

@media (min-width: 576px) {
  .navbar {
    &_list {
      position: relative;
      top: 0;
      outline: unset;
      display: flex;
      align-items: center;
      gap: 1rem;
      opacity: 1;
      &.active {
        top: unset;
      }
    }
    &_container {
      padding: 0 1rem 0 4rem;
    }
    &_item {
      flex-direction: column;
      &-link {
        width: 100%;
        height: 100%;
        font-size: 3rem;
        height: 7rem;

        &-text {
          display: none;
        }
        &.logo {
          z-index: 500;
        }
        &::after {
          content: "";
          width: 2px;
          height: 110%;
          background: $colorSecundario;
          margin-left: 2rem;
          transform: rotate(25deg);
        }
        &:hover {
          color: $actionColor;

          & .navbar_item-link-icon {
            transform: scale(1.2);
          }
        }
        &.active:hover {
          & .navbar_item-link-icon {
            transform: scale(1);
          }
        }
        &-icon {
          font-size: 3rem;
        }
      }
    }
    &_menu {
      margin-left: unset;
      display: none;
    }
  }
}
